version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/workspaces/records/:cached
    ports:
      - "8000:8000"
    depends_on:
      - db
    working_dir: /workspaces/records/
    command: php artisan serve --host=0.0.0.0 --port=8000

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: sugiyama
      MYSQL_PASSWORD: fky4567FKY
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
